/* stylelint-disable declaration-no-important */
.meals {
  align-items: center;
  color: #464646;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  height: 45vh;
  justify-content: center;
  width: 100%;
}

.rocksGlass {
  animation: shake 1s infinite ease;
  max-height: 50vh;
}

.checkedBox input {
  border: solid red;
  margin-right: 5px;
  text-decoration: line-through solid black;
}

.empty-checkbox input {
  border: solid green;
  margin-right: 5px;
}

/*
#iceLeft {
  animation: clink .8s infinite ease;
  opacity: 0.6;
  transform-origin: 36px 66px;
}

#iceRight {
  animation: clink .8s .2s infinite ease;
  opacity: 0.6;
  transform-origin: 60px 78px;
}
*/

.meals > .logo {
  animation: shake 1.5s infinite ease;
  color: aliceblue;
  font-family: Montserrat , sans-serif;
  font-size: 3em;
  font-weight: 900;
}

@keyframes shake {

  0% {
    transform: rotate(5deg);
  }

  50% {
    transform: rotate(-5deg);
  }

  100% {
    transform: rotate(5deg);
  }
}

@keyframes clink {

  0% {
    transform: rotate(-10deg);
  }

  50% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-10deg);
  }
}

.icon-light {
  filter: invert(100%) opacity(86%);
}

.text-align-center {
  text-align: center;
}

.text-decoration-none {
  text-decoration: none;
}

.text-bold {
  font-weight: 700;
}

.button-done-recipe {
  bottom: 0;
  box-shadow: 0 -3px 5px -2px rgba(0, 0, 0, 0.72);
  position: fixed;
  z-index: 99;
}

.text-shadow {
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.82);
}

.small-text {
  font-size: 10px;
}

.wave-bg {
  bottom: 0;
  position: fixed;
  width: 450vw;
  z-index: -99;
}

@media only screen and ( min-width : 576px ) {

  .wave-bg {
    width: 100vw;
  }
}
